<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page-5</title>
    <link rel="stylesheet" href="/html/page-5/page-5.style.css">
</head>
<body>
{% include "../header/header.html" %}
<div class="app-page-5">
    <!-- Информационное табло -->
    {% include "../components/news/news.html" %}
    <!-- ------- -->
    <div class="page-5">
        <h2>page-5</h2>
    </div>
</div>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/html/page-5/page-5.main.js"></script>
</body>
</html>