<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page-4</title>
    <link rel="stylesheet" href="/html/page-4/page-4.style.css">
</head>
<body>
{% include "../header/header.html" %}
<div class="app-guess position-relative h-100">
    <!-- Информационное табло -->
    {% include "../components/news/news.html" %}
    <!-- ------- -->
    <div class="position-relative h-75">
        <!-- Правила игры -->
        <div class="rules-of-the-game">
            <pre>
                Правила игры:
                Ведущий предоставляет числа
                Задача игроков угадать является ли это число верным или эта ложь.
            </pre>
        </div>
        <!-- Игра -->
        <div class="d-flex position-relative align-items-stretch justify-content-between h-100">
            <div class="lists-users-game-guess">
                <h1>Список пользователей online</h1>
            </div>
            <div class="game-guess">
                <h1>Игровое поле</h1>
            </div>
        </div>
    </div>
    <!-- игровой чат -->
    <div class="game-chat position-fixed fixed-bottom w-100">
        <div class="more-users">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                     aria-valuenow="100" aria-valuemin="75" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div class="all-message-user"></div>
        </div>
        <form class="block-form w-100">
            <label class="d-flex flex-nowrap w-100">
                <input type="text" placeholder="Введите сообщение" class="p-2 w-75" id="user-message">
                <input type="submit" class="p-2 w-25 submit">
            </label>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/html/page-4/page-4.main.js"></script>
</body>
</html>