<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game-table</title>
    <link rel="shortcut icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="/html/game-table/game-table.css">
</head>
<body>
{% include "../header/header.html" %}
<div class="app-game-table h-100">
    <div class="shadow position-relative h-100">
        <!-- Новости -->
        {% include "../components/news/news.html" %}
        <!-- ------- -->
        <div class="position-relative d-flex justify-content-between flex-nowrap align-items-stretch h-100">
            <!-- Game table -->
            <div class="game-table w-100 p-3" style="z-index: 2">
                <div class="fixed-button position-fixed">
                    <button class="btn-primary" onclick="chatShowHide()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="d-flex flex-wrap align-items-stretch w-100 h-100 more-tables">
                    
                    <!-- Пример карты -->
                    <div class="card-table d-flex flex-column justify-content-center align-content-center mr-2 mb-2 text-center paper" onclick="eventUser('page-1')">
                        <div class="paper-title">
                            <h2>paper</h2>
                        </div>
                        <div class="paper-body">
                            <p>В разработке</p>
                        </div>
                    </div>
                    <!-- ------------ -->
                    <div class="card-table d-flex flex-column justify-content-center align-content-center mr-2 mb-2 text-center brainshtorm" onclick="eventUser('page-2')">
                        <div class="brainshtorm-title">
                            <h2>brainshtorm</h2>
                        </div>
                        <div class="brainshtorm-body">
                            <p>В разработке</p>
                        </div>
                    </div>
                    <div class="card-table d-flex flex-column justify-content-center align-content-center mr-2 mb-2 text-center kube" onclick="eventUser('page-3')">
                        <div class="kube-title">
                            <h2>kube</h2>
                        </div>
                        <div class="kube-body">
                            <p>В разработке</p>
                        </div>
                    </div>
                    <div class="card-table d-flex flex-column justify-content-center align-content-center mr-2 mb-2 text-center guess" onclick="eventUser('page-4')">
                        <div class="kube-title">
                            <h2>guess</h2>
                        </div>
                        <div class="kube-body">
                            <p>Можно войти</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat -->
            <div class="position-relative chat w-25 pt-5 pl-2 pr-2 pb-2" style="z-index: 1">
                <!-- Пример данных в чате -->
                <div class="all-message w-100"></div>
                <!-- Ввод текста -->
                <form class="user-write-message text-center">
                    <label class="col-md-10 m-auto">
                        <input type="text" class="w-100 text-left mt-2 p-2" id="user-text">
                        <input type="submit" class="btn-primary w-100 pt-3 pb-3 box-shadow">
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/html/game-table/game-table.js"></script>
</body>
</html>