@import '../../libraries';
@import '../../global-styles';

.app-game-table {
  background: -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%), -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%) 0.1875em 0.1875em, -webkit-radial-gradient(at 50% 0, #484847, #090909);
  background: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
  color: #fff;
}

.game-news {
  background: black;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    animation: news 20s infinite ease;
  }
}

.user-chat {
  border-radius: 8px;
  background: grey;
  color: #fff;
}

.user-write-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: #fff;
  color: #fff;
  padding-bottom: 20vh;
  textarea {
    width: 100%;
    min-height: 10vh;
    resize: none;
  }
  button {
    border-radius: 6px;
  }
}

.fixed-button {
  top: auto;
  right: 15px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    color: #000;
    outline: none;
    &:hover {
      transition: .8s;
      transform: rotate(180deg);
    }
  }
  i {
    font-size: 25px;
  }
}

.card-table {
  width: 250px;
  height: 400px;
  min-width: 250px;
  min-height: 400px;
  max-height: 400px;
  max-width: 250px;
  h2 {
    text-transform: uppercase;
  }
  h2, p, span {
    color: #000;
    text-shadow: 0 0 2px #007bff;
    font-weight: bold;
  }
}

.paper {
  background: url('../../img/card-tables-background/paper.jpg') no-repeat center;
  background-size: cover;
}

.brainshtorm {
  background: url('../../img/card-tables-background/brainshtorm.jpg') no-repeat center;
  background-size: cover;
}

.kube {
  background: url('../../img/card-tables-background/kube.jpg') no-repeat center;
  background-size: cover;
}


@keyframes news {
  100% {
    left: calc(100%);
  }
}